.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
  transition: opacity 500ms ease-out;
}
.fade-exit-active {
  opacity: 0;
}

.slide-updown-enter {
  opacity: 0;
  transform: translateY(100%);
}
.slide-updown-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 500ms, opacity 300ms;
}
.slide-updown-exit {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 500ms, opacity 300ms;
}
.slide-updown-exit-active {
  opacity: 0;
  transform: translateY(100%);
}

@keyframes slideup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

.Page-inner-wrap {
  animation: 0.7s slideup;
}
