@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500;600&display=swap");

$white: #ffffff;
$black: #262626;

* {
  box-sizing: border-box;
}

html {
  @apply scroll-smooth;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply scroll-smooth;
}

img {
  pointer-events: none;
  @apply max-w-full;
}

@layer base {
  .Page-section {
    @apply mx-auto h-full w-full snap-center scroll-smooth;
    section {
      @apply snap-always;
    }
    .Section-container {
      @apply w-full;
    }
  }

  .Text-section {
    @apply w-full;
    .Text {
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl font-medium text-white;
    }
  }

  .Heading-text {
    @apply w-full text-center text-6xl font-semibold;
  }

  .Sub-heading-text {
    @apply w-full text-center text-5xl font-medium;
  }

  .Link-container {
    .Link {
      @apply text-base font-medium text-white underline hover:text-orange;
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  :is(.App, .Page-inner-wrap, .scrollbar-hide)::-webkit-scrollbar {
    @apply w-0;
  }

  pre,
  code {
    @apply text-sm;
    font-family: monospace;
  }

  .shadow,
  .Modal-container {
    box-shadow: 0 8px 0 $white;
    transition: box-shadow 0.1s ease-out, -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out,
      -webkit-transform 0.1s ease-out;
  }

  .shadow:is(:active, :focus, :hover) {
    transform: translateY(8px);
    box-shadow: none;
  }

  .Code-container::-webkit-scrollbar {
    @apply h-2 w-2 bg-opacity-0;
  }

  .Code-container::-webkit-scrollbar-thumb,
  .Code-container::-webkit-scrollbar-corner {
    @apply rounded-full bg-orange;
  }

  :is(.Code-container, .Json):focus-visible {
    @apply border-none outline-none;
  }

  .Modal-container {
    animation-name: fadeout;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
  }

  .Json {
    word-wrap: break-word;
  }
}
